{% extends "flare/base.html" %}
{% block title %}
Lore
{% endblock %}
{% block lore_nav %}class="active"{% endblock %}
{% load static %}
{% block content %}
<div class="w3-text-white">
<h1>Lore</h1>
{% if latest_lore_list %}
    <ul class="blog">
    {% for article in latest_lore_list %}
        <li><a href="{% url 'lore:detail' article.id %}">
          <h2>{{ article.article_title }}</h2></a>
          <p>{{ article.pub_date }}</p>
          <p>{{ article.article_text|truncatewords:50|safe }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No articles are available.</p>
{% endif %}
</div>
{% endblock %}
