{% extends "flare/base.html" %}
{% load static %}
{% load random_image %}
{% block title %}
  Characters
{% endblock %}
{% block char_nav %}class="active"{% endblock %}
{% block content %}
<div class="w3-text-white">
<h1>Characters</h1>
{% if user.is_authenticated %}
  {% if user.profile.is_admin %}
    <a href="{% url 'character:admin' %}">View ALL Characters</a>
  {% endif %}
{% if user_character_list %}
    <ul class="blog">
    {% for character in user_character_list %}
        <li><a href="{% url 'character:detail' character.id %}"><img src="
          {% if character.image %}
            {{ character.image.url }}
          {% else %}
            {% random_image %}
          {% endif %}
            " alt="" class="w3-image" style="max-width: 150px;">{{ character.name }} - {{ character.character_race.name }} {{ character.character_class.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No characters are available.</p>
{% endif %}
{% else %}
    <p>Please <a href="{% url 'login' %}">log in</a> to see your characters.</p>
{% endif %}
</div>
{% endblock %}
